#testimonials {
    background: #f6f6f6;
    padding: 80px 0;
  }
  
  #testimonials .profile {
    text-align: center;
  }
  
  #testimonials .profile .pic {
    border-radius: 50%;
    border: 6px solid #fff;
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
    width: 260px;
  }
  
  #testimonials .profile .pic img {
    max-width: 100%;
  }
  
  #testimonials .profile h4 {
    font-weight: 700;
    color: #03C4EB;
    margin-bottom: 5px;
  }
  
  #testimonials .profile span {
    color: #333333;
  }
  
  #testimonials .quote {
    position: relative;
    background: #fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
  }
  
  #testimonials .quote b {
    display: inline-block;
    font-size: 22px;
    left: -9px;
    position: relative;
    top: -8px;
  }
  
  #testimonials .quote small {
    display: inline-block;
    right: -9px;
    position: relative;
    top: 4px;
  }