video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.main-container {
    /* background: url('../images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    justify-content: center;
}

.main-container > h1 {
    color: #fff;
    font-size: 90px;
    margin-top: -100px;
}

.main-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-btns {
    margin-top: 32px;
}

.main-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .main-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .main-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .main-container > p {
        font-size: 32px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
}