img{
  height:600px;
}
.section-title {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--primary-color);
  display: inline-block;
}

.section-title h2:before {
  margin: 0 15px 10px 0;
}

.section-title h2:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 0;
}



#topbar {
  background: #f8f6f5;
  padding: 10px 0;
  font-size: 14px;
  /* position: fixed; */
}

#topbar .contact-info i {
  font-style: normal;
  color: #f03c02;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #2b2320;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #f03c02;
}

#topbar .social-links a {
  color: #65534c;
  line-height: 0;
  transition: 0.3s;
  margin-left: 15px;
}

#topbar .social-links a:hover {
  color: #f03c02;
}




